@using TestTemplate.Application.Features.Products.Commands.CreateProduct
@model CreateProductCommand
<div class="modal-header">
    <h5 class="modal-title mt-0" id="myModalLabel">@localizer["Add"]</h5>
    <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>

<form id="FormCreateProduct">
    <div class="modal-body">
        <div class="mb-3">
            <label>@localizer["Name"]</label>
            <input asp-for="Name" class="form-control" autocomplete="off" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>@localizer["Price"]</label>
            <input asp-for="Price" class="form-control" autocomplete="off" type="number"/>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>@localizer["BarCode"]</label>
            <input asp-for="BarCode" class="form-control" autocomplete="off" />
            <span asp-validation-for="BarCode" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer d-block">
        <button type="button" class="btn btn-secondary waves-effect w-md" data-bs-dismiss="modal">@localizer["Close"]</button>
        <button type="submit" class="btn btn-success waves-effect waves-light w-md">@localizer["Save"]</button>
    </div>
</form>

<script>
    document.getElementById("FormCreateProduct").onsubmit = function (event) {
        event.preventDefault()
        BasePostItem("#FormCreateProduct", '@Url.Action("CreateProduct")', "#BlankModal", 'ReloadList()')
    }
</script>